In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('nyc_temperatures.csv')

In [5]:
df

   attributes datatype                 date            station  value
0       H,,S,     TAVG  2018-10-01T00:00:00  GHCND:USW00014732   21.2
1    ,,W,2400     TMAX  2018-10-01T00:00:00  GHCND:USW00014732   25.6
2    ,,W,2400     TMIN  2018-10-01T00:00:00  GHCND:USW00014732   18.3
3       H,,S,     TAVG  2018-10-02T00:00:00  GHCND:USW00014732   22.7
4    ,,W,2400     TMAX  2018-10-02T00:00:00  GHCND:USW00014732   26.1
..        ...      ...                  ...                ...    ...
88   ,,W,2400     TMAX  2018-10-30T00:00:00  GHCND:USW00014732   13.9
89   ,,W,2400     TMIN  2018-10-30T00:00:00  GHCND:USW00014732    7.2
90      H,,S,     TAVG  2018-10-31T00:00:00  GHCND:USW00014732   12.6
91   ,,W,2400     TMAX  2018-10-31T00:00:00  GHCND:USW00014732   17.8
92   ,,W,2400     TMIN  2018-10-31T00:00:00  GHCND:USW00014732    7.2

[93 rows x 5 columns]

### renaming columns

In [6]:
df.rename(
columns={
        'attributes':'flags',
        'value':'temp_c'
    },
    inplace=True
)

In [7]:
df

       flags datatype                 date            station  temp_c
0      H,,S,     TAVG  2018-10-01T00:00:00  GHCND:USW00014732    21.2
1   ,,W,2400     TMAX  2018-10-01T00:00:00  GHCND:USW00014732    25.6
2   ,,W,2400     TMIN  2018-10-01T00:00:00  GHCND:USW00014732    18.3
3      H,,S,     TAVG  2018-10-02T00:00:00  GHCND:USW00014732    22.7
4   ,,W,2400     TMAX  2018-10-02T00:00:00  GHCND:USW00014732    26.1
..       ...      ...                  ...                ...     ...
88  ,,W,2400     TMAX  2018-10-30T00:00:00  GHCND:USW00014732    13.9
89  ,,W,2400     TMIN  2018-10-30T00:00:00  GHCND:USW00014732     7.2
90     H,,S,     TAVG  2018-10-31T00:00:00  GHCND:USW00014732    12.6
91  ,,W,2400     TMAX  2018-10-31T00:00:00  GHCND:USW00014732    17.8
92  ,,W,2400     TMIN  2018-10-31T00:00:00  GHCND:USW00014732     7.2

[93 rows x 5 columns]

In [8]:
df.dtypes

flags        object
datatype     object
date         object
station      object
temp_c      float64
dtype: object

In [12]:
 # we have date in type object we will convert it to datetime
df.loc[:, 'date']=pd.to_datetime(df.date)

In [13]:
df.dtypes

flags               object
datatype            object
date        datetime64[ns]
station             object
temp_c             float64
dtype: object

In [ ]:
#This is much better. Now, we can get useful information when we summarize the date column

In [14]:
df.date.describe()

count                      93
unique                     31
top       2018-10-01 00:00:00
freq                        3
first     2018-10-01 00:00:00
last      2018-10-31 00:00:00
Name: date, dtype: object